[Desktop Entry]
Version=1.0
Name=3D Slicer
Type=Application
Terminal=false
Exec=/app/Slicer/Slicer
Icon=org.slicer.Slicer
Categories=Viewer;MedicalSoftware;Graphics;Engineering;
MimeType=application/dicom;
